@import "colors.scss";

$app-selector: "#time-tracker-extenstion-container";

$font-size: 14px;
$font-size-lg: 24px;
$font-bold: 600;
$font-family: Inter, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
